<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="tests" name="Suite">

<listeners>
<listener class-name="SeleniumAcademy.SeleniumAutomationFrameWorkDesign.TestComponents.Listeners"/>

</listeners>

  <test thread-count="5" name="SubmitOrder Test">
    <classes>
      <class name="SeleniumAcademy.SeleniumAutomationFrameWorkDesign.Tests.SubmitOrder"/>
     
    </classes>
  </test> <!-- Test -->
  
  
   <test thread-count="5" name="ErrorValidation Test">
    <classes>
      <class name="SeleniumAcademy.SeleniumAutomationFrameWorkDesign.Tests.ErrorValidation"/>
     
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
